{% extends 'app/base.html' %}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'css/base.css'%}">
<link rel="stylesheet" href="{%static 'css/contact.css'%}">
{%endblock css%}

{%block content%}
{%load crispy_forms_tags%}
{%load static%}
<br>
<div class="container contact">
    <div class="apartado">
        <h1>Contact Infinity Barber</h1>
        <p>In this section, you can fill out the form to send us any questions or inquiries you may have, and we will respond as soon as possible. 😉.</p>
    </div>
</div>
<br>
<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <br>
        <h2 class="d-flex justify-content-center">CONTACT US</h2>
        <br>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy}}
                <br>
                <div class="d-flex justify-content-end">
                    <button type="reset" value="Cancelar" class="btn btn-secondary">Cancel</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
            {{mensaje}}
        </div>
    </div>
</div>
<br>
{%endblock content%}