{% extends 'app/base.html' %}
{%load static%}

{%block css%}
<link rel="stylesheet" href="{%static 'css/base.css'%}">
<link rel="stylesheet" href="{%static 'css/services.css'%}">
{%endblock css%}

{%block content%}
{%load static%}
<div class="container">
    {% for service in services %}
    <div class="card">
        <figure>
            <img src="{{ service.image.url }}">
        </figure>
        <div class="contenido-card">
            <h1>{{ services.name}}</h1>
            <p>{{ service.description }}</p>
            <strong>${{ service.price}}</strong>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock content%}