{%extends 'app/base.html'%}

{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'css/base.css'%}">
<link rel="stylesheet" href="{%static 'css/crud.css'%}">
{%endblock css%}
{%block content%}
{%load static%}
<br>
<br>
<div class="container">
    <!--Tabla de listado de servicios-->
    <div class="card">
        <div class="card-body">
            <h2>Available Services</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Options</th>
                </tr>
                {%for s in entity%}
                    <tr> 
                        <td>{{ s.id}}</td>
                        <td>{{ s.name | title }}</td>
                        <td>{{ s.description }}</td>
                        <td>${{ s.price }}</td>
                        <td>
                            {%if perms.app.change_service%}
                                <a href="{%url 'modify' s.id%}" class="btn btn-info btn-sm">Modify</a>
                            {%endif%}
                            {%if perms.app.delete_service%}
                                <a href="#" onclick="delete_service({{s.id}})" class="btn btn-danger btn-sm">Delete</a>
                            {%endif%}
                        </td>
                    </tr>
                {%endfor%}
            </table>
            <div>
                {% include 'app/paginator.html'%}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <h2>Contact forms received</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Query type</th>
                    <th>Message</th>
                </tr>
                {%for c in entity2%}
                    <tr> 
                        <td>{{ c.id}}</td>
                        <td>{{ c.name | title }}</td>
                        <td>{{ c.query_type }}</td>
                        <td>{{ c.message }}</td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
<br>
<br>
{%endblock content%}